name: Discord Bot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21' # Reemplaza con tu versión de Go
        cache: true  # Habilita el caché de dependencias de Go

    - name: Tidy dependencies
      run: go mod tidy

    - name: Build
      run: go build -o main .

    - name: Run Bot
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        OWNER_ID: ${{ secrets.OWNER_ID }}
      run: ./main
